<section>
  <div class="bg-lGreen px-8 py-14 flex flew-row justify-center my-[5rem]">
    <div
      class="flex flex-row justify-between align-middle md:max-w-[70%] gap-12"
    >
      <div class="flex flex-col md:items-start gap-4">
        <h2 class="font-bold text-[35px] mt-[2.5rem]">
          Ako funguje podnikateľský úver
        </h2>
        <div class="text-[20px]">
          Urobili sme náš proces požiadania o úver čo najrýchlejší a
          najjednoduchší. Vyplnenie a odoslanie formulára Vám zaberie iba pár
          minút.
        </div>
        <a
          href="/business/#calculator-business"
          id="heroCtaButton"
          class="text-center text-turquoise border-turquoise md:text-[20px] md:text-left flex flex-col md:inline-block border-2 rounded-md py-2 px-8"
        >
          Vypočítať
          <i
            class="fa-solid text-[1.25rem] fa-angle-down fa-1x text-dRed md:hidden"
          ></i>
        </a>
      </div>
      <div class="flex flex-col gap-5 max-w-[45%]">
        <div
          class="bg-white shadow rounded-[10px] px-8 py-[2.5rem] flex flex-row gap-4"
        >
          <div
            class="bg-lGreen rounded-[8px] text-green font-bold text-[40px] vertical-text text-center py-6"
          >
            Krok 01
          </div>
          <div class="flex flex-col justify-center">
            <h3 class="text-[24px]">Vyplnenie online formulára</h3>
            <p class="text-[16px]">
              Vyplnenie online formulára <br />
              Vyberte si požadovanú sumu a dobu splácania, následne vyplňte
              formulár na ktorého konci je potrebné priložiť občiansky preukaz.
            </p>
          </div>
        </div>
        <div
          class="bg-white shadow rounded-[10px] px-8 py-[2.5rem] flex flex-row gap-4"
        >
          <div
            class="bg-lGreen rounded-[8px] text-green font-bold text-[40px] vertical-text text-center py-6"
          >
            Krok 02
          </div>
          <div class="flex flex-col justify-center">
            <h3 class="text-[24px]">Doplnenie dokladov</h3>
            <p class="text-[16px]">
              Všetkých podmienečne schválených žiadateľov kontaktuje náš tím pre
              doplnenie potrebných dokladov (daňové priznanie alebo potvrdenie o
              výške daňovej povinnosti, výpisy z podnikateľského účtu za
              posledné 3 mesiace)
            </p>
          </div>
        </div>
        <div
          class="bg-white shadow rounded-[10px] px-8 py-[2.5rem] flex flex-row gap-4"
        >
          <div
            class="bg-lGreen rounded-[8px] text-green font-bold text-[40px] vertical-text text-center py-6"
          >
            Krok 03
          </div>
          <div class="flex flex-col justify-center">
            <h3 class="text-[24px]">Podpis zmluvy</h3>
            <p class="text-[16px]">
              Tím Bestpôžičky Vám odošle zmluvu na podpis. Čerpanie úveru
              odošleme na Váš firemný účet hneď po overení podpisu.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
