<section id="faq" class="my-28">
    <div id="faqWrapper" class="container mt-28 md:px-[5rem]">
        

                    <% if(!isAutouver && !isBusiness){
                        %>
                    <div id="faq-header" class="flex items-center">
            <h2 class="text-center md:text-left text-[2.25rem] leading-[44px] line md:text-[65px] mb-[8rem] md:mb-0">
                Často kladené otázky</h2>
        </div>
        <div>
            <div class="faq-container card-container transition-default">
                <div class="flex flex-col">
                    <p class="text-[1.125rem] md:text-2xl py-[1rem]">Kde si vybavím Bestpôžičku?</p>
                    <div class="max-h-0 content w-full md:max-w-[1110px]">
                        <hr class="mb-6 w-1/2">
                        <div class="inner pb-[1rem] text-[20px] md:leading-[30px]">
                            O bestpôžičku môžete jednoducho požiadať na tomto webe alebo nás kontaktuj na telefónnom
                            čísle <span class="text-dRed">0944 766 999</span>. Najrýchlejšia cesta k novej pôžičke je online žiadosť! Samozrejme je
                            možné si o bestpôžičku požiadať aj v našej centrále na adrese: <span class="font-bold">Finančný dom Košice, Fejova
                            1, Košice.</span>
                        </div>
                    </div>
                </div>
                <div class="ml-auto cursor-pointer md:w-full md:max-w-[70px] md:h-[70px] md:hover:border-2 md:hover:border-primary hover:rounded-lg hover:transition-default md:flex items-center justify-center btn"
                     id="btn8">
                    <i class="fa-solid fa-plus fa-2x"></i>
                </div>
            </div>
            <div class="faq-container card-container transition-default">
                <div class="flex flex-col">
                    <p class="text-[1.125rem] md:text-2xl py-[1rem]">Aké doklady budem potrebovať?</p>
                    <div class="max-h-0 content w-full">
                        <hr class="mb-6 w-1/2">
                        <div class="inner pb-[1rem] text-[20px] md:leading-[30px]">
                            Pripravte si platný občiansky preukaz a doklad o príjme. Uvedené doklady je potrebné
                            priložiť v poslednom kroku online žiadosti.
                        </div>
                    </div>
                </div>
                <div class="ml-auto cursor-pointer md:w-full md:max-w-[70px] md:h-[70px] md:hover:border-2 md:hover:border-primary hover:rounded-lg hover:transition-default md:flex items-center justify-center btn"
                     id="btn8">
                    <i class="fa-solid fa-plus fa-2x"></i>
                </div>
            </div>
            <div class="faq-container card-container transition-default md:h-min">
                <div class="flex flex-col">
                    <p class="text-[1.125rem] md:text-2xl py-[1.5rem] md:py-[1rem]">Koľko si môžem požičať?</p>
                    <div class="max-h-0 content w-full">
                        <hr class="mb-6 w-1/2">
                        <div class="inner pb-[1rem] text-[20px] md:leading-[30px]">
                            Bestpôžička ti ponúka možnosť vybrať si pôžičku v rozmedzí <span class="font-bold">od 400€ do 15000€</span>. Pôžička nie je
                            viazaná na žiadny účel, peniaze môžete použiť na čokoľvek.
                        </div>
                    </div>
                </div>
                <div class="ml-auto cursor-pointer md:w-full md:max-w-[70px] md:h-[70px] md:hover:border-2 md:hover:border-primary hover:rounded-lg hover:transition-default md:flex items-center justify-center btn"
                     id="btn8">
                    <i class="fa-solid fa-plus fa-2x"></i>
                </div>
            </div>
            <div class="faq-container card-container transition-default">
                <div class="flex flex-col">
                    <p class="text-[1.125rem] md:text-2xl py-[1.25rem]">Kam sa mám obrátiť, ak budem niečo potrebovať?</p>
                    <div class="max-h-0 content w-full">
                        <hr class="mb-6 w-1/2">
                        <div class="inner pb-[1rem] text-[20px] md:leading-[30px]">
                            V prípade potreby nás kontaktujte mailom na <span class="text-dRed">info@bestpozicka.sk</span> alebo telefonicky na <span class="text-dRed">0944
                            766 999</span>. Taktiež nás môžete navštíviť v centrále na adrese: <span class="font-bold">Finančný dom Košice, Fejova 1,
                            Košice</span>
                        </div>
                    </div>
                </div>
                <div class="ml-auto cursor-pointer md:w-full md:max-w-[70px] md:h-[70px] md:hover:border-2 md:hover:border-primary hover:rounded-lg hover:transition-default md:flex items-center justify-center btn"
                     id="btn8">
                    <i class="fa-solid fa-plus fa-2x"></i>
                </div>
            </div>
            <div class="faq-container card-container transition-default">
                <div class="flex flex-col">
                    <p class="text-[1.125rem] md:text-2xl py-[1rem]">Koľko zaplatím za vybavenie pôžičky?</p>
                    <div class="max-h-0 content w-full">
                        <hr class="mb-6 w-1/2">
                        <div class="inner pb-[1rem] text-[20px] md:leading-[30px]">
                            Za vybavenie pôžičky neplatíte žiadny poplatok, <span class="font-bold">vybavenie pôžičky je zadarmo</span>.
                        </div>
                    </div>
                </div>
                <div class="ml-auto cursor-pointer md:w-full md:max-w-[70px] md:h-[70px] md:hover:border-2 md:hover:border-primary hover:rounded-lg hover:transition-default md:flex items-center justify-center btn"
                     id="btn8">
                    <i class="fa-solid fa-plus fa-2x"></i>
                </div>
            </div>
            <div class="faq-container card-container transition-default">
                <div class="flex flex-col">
                    <p class="text-[1.125rem] md:text-2xl py-[1rem]">Aké podmienky musím splniť?</p>
                    <div class="max-h-0 content w-full">
                        <hr class="mb-6 w-1/2">
                        <div class="inner pb-[1rem] text-[20px] md:leading-[30px]">
                            V deň podania žiadosti vek od 21 – 74 rokov a trvalý príjem zo zamestnania, dôchodku alebo
                            podnikania.

                            Maximálny vek v čase doplatenia pôžičky je 75 rokov.

                            Zamestnanec – preukázanie trvalého príjmu.

                            Živnostník/s.r.o. – preukázanie existencie oprávnenia na podnikanie v SR minimálne za
                            obdobie 6 mesiacov.

                            Dôchodca – preukázanie príjmu na základe potvrdenia o poberaní dôchodku (akceptujeme
                            starobný, invalidný a výsluhový dôchodok).
                        </div>
                    </div>
                </div>
                <div class="ml-auto cursor-pointer md:w-full md:max-w-[70px] md:h-[70px] md:hover:border-2 md:hover:border-primary hover:rounded-lg hover:transition-default md:flex items-center justify-center btn"
                     id="btn8">
                    <i class="fa-solid fa-plus fa-2x"></i>
                </div>
            </div>
            <div class="faq-container card-container transition-default">
                <div class="flex flex-col">
                    <p class="text-[1.125rem] md:text-2xl py-[1rem]">Pracujem v zahraničí, môžem získať Bestpôžičku?</p>
                    <div class="max-h-0 content w-full">
                        <hr class="mb-6 w-1/2">
                        <div class="inner pb-[1rem] text-[20px] md:leading-[30px]">
                            O pôžičku je možné požiadať aj s príjmom zo zahraničia, pokiaľ ide o príjem zo závislej
                            činnosti.
                        </div>
                    </div>
                </div>
                <div class="ml-auto cursor-pointer md:w-full md:max-w-[70px] md:h-[70px] md:hover:border-2 md:hover:border-primary hover:rounded-lg hover:transition-default md:flex items-center justify-center btn"
                     id="btn8">
                    <i class="fa-solid fa-plus fa-2x"></i>
                </div>
            </div>
            <div class="faq-container card-container transition-default">
                <div class="flex flex-col">
                    <p class="text-[1.125rem] md:text-2xl py-[1rem]">Ako dlho trvá, kým dostanem peniaze na účet?</p>
                    <div class="max-h-0 content w-full">
                        <hr class="mb-6 w-1/2">
                        <div class="inner pb-[1rem] text-[20px] md:leading-[30px]">
                            Peniaze sa odosielajú na účet okamžite po podpise zmluvy. Peniaze vám pošleme na bankový
                            účet uvedený v žiadosti.
                        </div>
                    </div>
                </div>
                <div class="ml-auto cursor-pointer md:w-full md:max-w-[70px] md:h-[70px] md:hover:border-2 md:hover:border-primary hover:rounded-lg hover:transition-default md:flex items-center justify-center btn"
                     id="btn8">
                    <i class="fa-solid fa-plus fa-2x"></i>
                </div>
            </div>
            <div class="faq-container card-container transition-default">
                <div class="flex flex-col">
                    <p class="text-[1.125rem] md:text-2xl py-[1rem]">Môžem úver aj predčasne splatiť a za aký
                        poplatok?</p>
                    <div class="max-h-0 content w-full">
                        <hr class="mb-6 w-1/2">
                        <div class="inner pb-[1rem] text-[20px] md:leading-[30px]">
                            Pôžičku je možné kedykoľvek predčasne splatiť. Neplatíte žiadne poplatky, predčasné
                            splatenie pôžičky je úplne zadarmo.
                        </div>
                    </div>
                </div>
                <%} else if(isBusiness){
                    %>
                <div id="faq-header-business" class="flex items-center">
        <h2 class="text-center md:text-left text-[2.25rem] leading-[44px] line md:text-[65px] mb-[8rem] md:mb-0">
            Často kladené otázky</h2>
    </div>
    <div>
        <div class="faq-container card-container transition-default">
            <div class="flex flex-col">
                <p class="text-[1.125rem] md:text-2xl py-[1rem]">Kde si vybavím Bestpôžičku?</p>
                <div class="max-h-0 content w-full md:max-w-[1110px]">
                    <hr class="mb-6 w-1/2">
                    <div class="inner pb-[1rem] text-[20px] md:leading-[30px]">
                        O bestpôžičku môžete jednoducho požiadať na tomto webe alebo nás kontaktuj na telefónnom
                        čísle <span class="text-dRed">0944 766 999</span>. Najrýchlejšia cesta k novej pôžičke je online žiadosť! Samozrejme je
                        možné si o bestpôžičku požiadať aj v našej centrále na adrese: <span class="font-bold">Finančný dom Košice, Fejova
                        1, Košice.</span>
                    </div>
                </div>
            </div>
            <div class="ml-auto cursor-pointer md:w-full md:max-w-[70px] md:h-[70px] md:hover:border-2 md:hover:border-primary hover:rounded-lg hover:transition-default md:flex items-center justify-center btn"
                 id="btn8">
                <i class="fa-solid fa-plus fa-2x"></i>
            </div>
        </div>
        <div class="faq-container card-container transition-default">
            <div class="flex flex-col">
                <p class="text-[1.125rem] md:text-2xl py-[1rem]">Bude moja zlá úverová história problém pri schvaľovaní úveru?</p>
                <div class="max-h-0 content w-full">
                    <hr class="mb-6 w-1/2">
                    <div class="inner pb-[1rem] text-[20px] md:leading-[30px]">
                        V Bestpôžičke posudzujeme každú firmu individuálne. Hodnotíme celkový rizikový profil žiadateľa. Kľúčovou vecou je nenechať sa odradiť od pokusu, požiadať o nový úver a vďaka tomu získať financie pre Váš biznis. Požiadajte o nový úver ešte dnes!
                    </div>
                </div>
            </div>
            <div class="ml-auto cursor-pointer md:w-full md:max-w-[70px] md:h-[70px] md:hover:border-2 md:hover:border-primary hover:rounded-lg hover:transition-default md:flex items-center justify-center btn"
                 id="btn8">
                <i class="fa-solid fa-plus fa-2x"></i>
            </div>
        </div>
        <div class="faq-container card-container transition-default md:h-min">
            <div class="flex flex-col">
                <p class="text-[1.125rem] md:text-2xl py-[1.5rem] md:py-[1rem]">Kto môže požiadať o úver?</p>
                <div class="max-h-0 content w-full">
                    <hr class="mb-6 w-1/2">
                    <div class="inner pb-[1rem] text-[20px] md:leading-[30px]">
                        Fyzická osoba – podnikateľ (živnostník), konateľ spoločnosti s ručením obmedzeným, oprávnený zástupca akciovej spoločnosti alebo inej podnikateľskej formy (napr. družstva). Minimálna doba podnikania je 6 mesiacov.
                    </div>
                </div>
            </div>
            <div class="ml-auto cursor-pointer md:w-full md:max-w-[70px] md:h-[70px] md:hover:border-2 md:hover:border-primary hover:rounded-lg hover:transition-default md:flex items-center justify-center btn"
                 id="btn8">
                <i class="fa-solid fa-plus fa-2x"></i>
            </div>
        </div>
        <div class="faq-container card-container transition-default">
            <div class="flex flex-col">
                <p class="text-[1.125rem] md:text-2xl py-[1.25rem]">Môže živnostník získať podnikateľský úver?</p>
                <div class="max-h-0 content w-full">
                    <hr class="mb-6 w-1/2">
                    <div class="inner pb-[1rem] text-[20px] md:leading-[30px]">
                        ÁNO. Podnikateľský úver môže získať každý živnostník ktorý podniká minimálne 6 mesiacov a dokáže zdokladovať svoj príjem.</span>
                    </div>
                </div>
            </div>
            <div class="ml-auto cursor-pointer md:w-full md:max-w-[70px] md:h-[70px] md:hover:border-2 md:hover:border-primary hover:rounded-lg hover:transition-default md:flex items-center justify-center btn"
                 id="btn8">
                <i class="fa-solid fa-plus fa-2x"></i>
            </div>
        </div>
        <div class="faq-container card-container transition-default">
            <div class="flex flex-col">
                <p class="text-[1.125rem] md:text-2xl py-[1rem]">Na aký účet mi pošlete peniaze?</p>
                <div class="max-h-0 content w-full">
                    <hr class="mb-6 w-1/2">
                    <div class="inner pb-[1rem] text-[20px] md:leading-[30px]">
                        Podnikateľský úver je posielaný výlučne na firemný účet podnikateľa. Nie je možné nastaviť čerpanie úveru na osobný účet.</span>
                    </div>
                </div>
            </div>
            <div class="ml-auto cursor-pointer md:w-full md:max-w-[70px] md:h-[70px] md:hover:border-2 md:hover:border-primary hover:rounded-lg hover:transition-default md:flex items-center justify-center btn"
                 id="btn8">
                <i class="fa-solid fa-plus fa-2x"></i>
            </div>
        </div>
        <div class="faq-container card-container transition-default">
            <div class="flex flex-col">
                <p class="text-[1.125rem] md:text-2xl py-[1rem]">Som po bankrote, môžem požiadať o úver?</p>
                <div class="max-h-0 content w-full">
                    <hr class="mb-6 w-1/2">
                    <div class="inner pb-[1rem] text-[20px] md:leading-[30px]">
                        Bestpôžička <span class="font-bold">neposkytuje úvery</span> osobám po bankrote.
                    </div>
                </div>
            </div>
            <div class="ml-auto cursor-pointer md:w-full md:max-w-[70px] md:h-[70px] md:hover:border-2 md:hover:border-primary hover:rounded-lg hover:transition-default md:flex items-center justify-center btn"
                 id="btn8">
                <i class="fa-solid fa-plus fa-2x"></i>
            </div>
        </div>
        <div class="faq-container card-container transition-default">
            <div class="flex flex-col">
                <p class="text-[1.125rem] md:text-2xl py-[1rem]">Mám záujem o podnikateľský úver, ako si ho vybavím?</p>
                <div class="max-h-0 content w-full">
                    <hr class="mb-6 w-1/2">
                    <div class="inner pb-[1rem] text-[20px] md:leading-[30px]">
                        Cesta k novému podnikateľskému úveru je jednoduchá. Vyberte si sumu ktorú si chcete požičať, nastavte si dobu splácania, vyplňte náš online formulár, odošlite a zvyšok nechajte na nás. 
                    </div>
                </div>
            </div>
            <div class="ml-auto cursor-pointer md:w-full md:max-w-[70px] md:h-[70px] md:hover:border-2 md:hover:border-primary hover:rounded-lg hover:transition-default md:flex items-center justify-center btn"
                 id="btn8">
                <i class="fa-solid fa-plus fa-2x"></i>
            </div>
        </div>

                <%} else {%>
                    <div id="faq-header" class="flex items-center">
                        <h2 class="text-center md:text-left text-[2.25rem] leading-[44px] line md:text-[36px] mb-[8rem] md:mb-0">
                            Často kladené otázky</h2>
                    </div>
                    <div>
                        <div class="faq-container card-container transition-default">
                            <div class="flex flex-col">
                    <p class="text-[1.125rem] md:text-[1.375rem] py-[0.5rem] ">Ako si vybavím Autoúver?</p>
                    <div class="max-h-0 content w-full md:max-w-[1110px]">
                        <hr class="mb-6 w-1/2">
                        <div class="inner pb-[1rem] md:text[20px] text-[16px] md:leading-[30px]">
                            O autoúver môžete jednoducho požiadať na tomto webe alebo nás kontaktujte na telefónnom čísle 0918 709 028. Najrýchlejšia cesta je online žiadosť! Ak preferujete osobný kontakt, požiadať o autoúver môžete aj v našej centrále na adrese: Finančný dom Košice, Fejova 1, Košice.
                        </div>
                    </div>
                </div>
                <div class="ml-auto cursor-pointer md:w-full md:max-w-[70px] md:h-[70px] md:hover:border-2 md:hover:border-primary hover:rounded-lg hover:transition-default flex md:mt-0 mt-4 self-start items-center justify-center btn"
                     id="btn8">
                    <i class="fa-solid fa-plus fa-2x"></i>
                </div>
            </div>
            <div class="faq-container card-container transition-default">
                <div class="flex flex-col">
                    <p class="text-[1.125rem] md:text-[1.375rem] py-[0.5rem]">Aké doklady budem potrebovať?</p>
                    <div class="max-h-0 content w-full">
                        <hr class="mb-6 w-1/2">
                        <div class="inner pb-[1rem] md:text[20px] text-[16px] md:leading-[30px]">
                            Pripravte si platný občiansky preukaz ktorý je potrebné priložiť v poslednom kroku žiadosti. Fotografia dokladu musí byť úplná a neorezaná.
                        </div>
                    </div>
                </div>
                <div class="ml-auto cursor-pointer md:w-full md:max-w-[70px] md:h-[70px] md:hover:border-2 md:hover:border-primary hover:rounded-lg hover:transition-default flex md:mt-0 mt-5 self-start items-center justify-center btn"
                     id="btn8">
                    <i class="fa-solid fa-plus fa-2x"></i>
                </div>
            </div>
            <div class="faq-container card-container transition-default md:h-min">
                <div class="flex flex-col">
                    <p class="text-[1.125rem] md:text-[1.375rem] py-[0.5rem]">Koľko si môžem požičať?</p>
                    <div class="max-h-0 content w-full">
                        <hr class="mb-6 w-1/2">
                        <div class="inner pb-[1rem] md:text[20px] text-[16px] md:leading-[30px]">
                            Bestpôžička ti ponúka možnosť vybrať si autoúver v rozmedzí od 1000€ do 30000€. Pričom 70% z poskytnutej výšky autoúveru musí byť použitých na kúpu auta, zvyšných 30% môže byť použitých na akýkoľvek iný účel. (príklad: ak požiadate o autoúver vo výške 10 000€, cena vozidla by mala byť minimálne 7000€)
                        </div>
                    </div>
                </div>
                <div class="ml-auto cursor-pointer md:w-full md:max-w-[70px] md:h-[70px] md:hover:border-2 md:hover:border-primary hover:rounded-lg hover:transition-default flex md:mt-0 mt-4 self-start items-center justify-center btn"
                     id="btn8">
                    <i class="fa-solid fa-plus fa-2x"></i>
                </div>
            </div>
            <div class="faq-container card-container transition-default">
                <div class="flex flex-col">
                    <p class="text-[1.125rem] md:text-[1.375rem] py-[0.5rem]">Kam sa mám obrátiť, ak budem niečo potrebovať?</p>
                    <div class="max-h-0 content w-full">
                        <hr class="mb-6 w-1/2">
                        <div class="inner pb-[1rem] md:text[20px] text-[16px] md:leading-[30px]">
                            V prípade potreby nás kontaktujte mailom na info@bestpozicka.sk alebo telefonicky na 0944 766 999. Taktiež nás môžete navštíviť v centrále na adrese: Finančný dom Košice, Fejova 1, Košice
                        </div>
                    </div>
                </div>
                <div class="ml-auto cursor-pointer md:w-full md:max-w-[70px] md:h-[70px] md:hover:border-2 md:hover:border-primary hover:rounded-lg hover:transition-default flex md:mt-0 mt-5 self-start items-center justify-center btn"
                     id="btn8">
                    <i class="fa-solid fa-plus fa-2x"></i>
                </div>
            </div>
            <div class="faq-container card-container transition-default">
                <div class="flex flex-col">
                    <p class="text-[1.125rem] md:text-[1.375rem] py-[0.5rem]">Koľko zaplatím za vybavenie autoúveru?</p>
                    <div class="max-h-0 content w-full">
                        <hr class="mb-6 w-1/2">
                        <div class="inner pb-[1rem] md:text[20px] text-[16px] md:leading-[30px]">
                            Za vybavenie autoúveru neplatíte žiadny poplatok, <span class="font-bold">vybavenie pôžičky je zadarmo</span>.
                        </div>
                    </div>
                </div>
                <div class="ml-auto cursor-pointer md:w-full md:max-w-[70px] md:h-[70px] md:hover:border-2 md:hover:border-primary hover:rounded-lg hover:transition-default flex md:mt-0 mt-5 self-start items-center justify-center btn"
                     id="btn8">
                    <i class="fa-solid fa-plus fa-2x"></i>
                </div>
            </div>
            <div class="faq-container card-container transition-default">
                <div class="flex flex-col">
                    <p class="text-[1.125rem] md:text-[1.375rem] py-[0.5rem]">Aké podmienky musím splniť?</p>
                    <div class="max-h-0 content w-full">
                        <hr class="mb-6 w-1/2">
                        <div class="inner pb-[1rem] md:text[20px] text-[16px] md:leading-[30px]">
                            - V deň podania žiadosti vek od 21 – 74 rokov a trvalý príjem zo zamestnania, dôchodku alebo podnikania<br>
                            - Maximálny vek v čase doplatenia pôžičky je 75 rokov<br>
                            - Zamestnanec – preukázanie trvalého príjmu<br>
                            - Živnostník/s.r.o. – preukázanie existencie oprávnenia na podnikanie v SR minimálne za obdobie 6 mesiacov<br>
                            - Dôchodca – preukázanie príjmu na základe potvrdenia o poberaní dôchodku (akceptujeme starobný, invalidný a        výsluhový dôchodok)
                        </div>
                    </div>
                </div>
                <div class="ml-auto cursor-pointer md:w-full md:max-w-[70px] md:h-[70px] md:hover:border-2 md:hover:border-primary hover:rounded-lg hover:transition-default flex md:mt-0 mt-5 self-start items-center justify-center btn"
                     id="btn8">
                    <i class="fa-solid fa-plus fa-2x"></i>
                </div>
            </div>
            <div class="faq-container card-container transition-default">
                <div class="flex flex-col">
                    <p class="text-[1.125rem] md:text-[1.375rem] py-[0.5rem]">Pracujem v zahraničí, môžem požiadať o autoúver?</p>
                    <div class="max-h-0 content w-full">
                        <hr class="mb-6 w-1/2">
                        <div class="inner pb-[1rem] md:text[20px] text-[16px] md:leading-[30px]">
                            O autoúver je možné požiadať aj s príjmom zo zahraničia, pokiaľ ide o príjem zo závislej činnosti.
                        </div>
                    </div>
                </div>
                <div class="ml-auto cursor-pointer md:w-full md:max-w-[70px] md:h-[70px] md:hover:border-2 md:hover:border-primary hover:rounded-lg hover:transition-default flex md:mt-0 mt-5 self-start items-center justify-center btn"
                     id="btn8">
                    <i class="fa-solid fa-plus fa-2x"></i>
                </div>
            </div>
            <div class="faq-container card-container transition-default">
                <div class="flex flex-col">
                    <p class="text-[1.125rem] md:text-[1.375rem] py-[0.5rem]">Kupujem auto od suseda, čo všetko k tomu potrebujem?</p>
                    <div class="max-h-0 content w-full">
                        <hr class="mb-6 w-1/2">
                        <div class="inner pb-[1rem] md:text[20px] text-[16px] md:leading-[30px]">
                            Požiadajte o autoúver na našej stránke, najrýchlejšia cesta je online žiadosť. Po schválení vašej žiadosti máte 30 dní na kúpu vozidla. Aby sme zaslali peniaze na váš účet, budeme potrebovať kúpno-predajnú zmluvu prípadne zmluvu o budúcej kúpno-predajnej zmluve.
                        </div>
                    </div>
                </div>
                <div class="ml-auto cursor-pointer md:w-full md:max-w-[70px] md:h-[70px] md:hover:border-2 md:hover:border-primary hover:rounded-lg hover:transition-default flex md:mt-0 mt-5 self-start items-center justify-center btn"
                     id="btn8">
                    <i class="fa-solid fa-plus fa-2x"></i>
                </div>
            </div>
            <div class="faq-container card-container transition-default">
                <div class="flex flex-col">
                    <p class="text-[1.125rem] md:text-[1.375rem] py-[0.5rem]">Môžem autoúver aj predčasne splatiť a za aký poplatok?</p>
                    <div class="max-h-0 content w-full">
                        <hr class="mb-6 w-1/2">
                        <div class="inner pb-[1rem] md:text[20px] text-[16px] md:leading-[30px]">
                            Autoúver je možné kedykoľvek predčasne splatiť. Neplatíte žiadne poplatky, predčasné splatenie autoúveru je úplne zadarmo.
                        </div>
                    </div>
                </div>
                    
                <div class="ml-auto cursor-pointer md:w-full md:max-w-[70px] md:h-[70px] md:hover:border-2 md:hover:border-primary hover:rounded-lg hover:transition-default flex md:mt-0 mt-5 self-start items-center justify-center btn"
                     id="btn8">
                    <i class="fa-solid fa-plus fa-2x"></i>
                </div>
            </div>
            <div class="faq-container card-container transition-default">
                <div class="flex flex-col">
                    <p class="text-[1.125rem] md:text-[1.375rem] py-[0.5rem]">Našiel som si auto v bazáre, ako naň získam autoúver od Bestpôžičky?</p>
                    <div class="max-h-0 content w-full">
                        <hr class="mb-6 w-1/2">
                        <div class="inner pb-[1rem] md:text[20px] text-[16px] md:leading-[30px]">
                            Požiadajte o autoúver na našej stránke, najrýchlejšia cesta je online žiadosť. Po schválení vašej žiadosti máte 30 dní na kúpu vozidla. Peniaze Vám odošleme na účet hneď ako nám zdokladujete predmet financovania. Akceptované doklady: zmluva o budúcej kúpno – predajnej zmluve, záväzná objednávka, potvrdenie o zaplatení zálohy a rezervácii auta, kúpno – predajná zmluva, predfaktúra.
                        </div>
                    </div>
                </div>
                    
                <div class="ml-auto cursor-pointer md:w-full md:max-w-[70px] md:h-[70px] md:hover:border-2 md:hover:border-primary hover:rounded-lg hover:transition-default flex md:mt-0 mt-5 self-start items-center justify-center btn"
                     id="btn8">
                    <i class="fa-solid fa-plus fa-2x"></i>
                </div>
            </div><% } %>
        </div>
    </div>
</section>
<script>
    let containers = document.querySelectorAll('.card-container')
    let buttons = document.querySelectorAll('.btn')
    let sections = document.querySelectorAll('.section')
    let texts = document.querySelectorAll('.hidden-text')


    for (const container of containers) {
        container.classList.add('custom-shadow-10')
        container.classList.add('cursor-pointer')
        let isPressed = false
        let i = container.querySelector('i')

        container.addEventListener('click', () => {
            isPressed = !isPressed
            let content = container.querySelector('.content')
            content.classList.toggle('max-h-0')
            content.classList.add('content-active')
        })


        container.addEventListener('mouseenter', () => {
            addClass(i, 'text-primary')
            if (i.classList.contains('fa-plus') || i.classList.contains('fa-minus')) {
                removeClass(i, 'fa-minus')
                removeClass(i, 'fa-plus')
            }
            removeClass(i, 'fa-plus')
            addClass(i, 'fa-angle-down')

        })
        container.addEventListener('mouseleave', () => {
            removeClass(i, 'text-primary')
            removeClass(i, 'fa-angle-down')
            if (!isPressed) {
                addClass(i, 'fa-plus')
            } else {
                addClass(i, 'fa-minus')
            }
        })


    }

    let removeClass = (element, className) => {
        element.classList.remove(`${className}`)
    }
    let addClass = (element, className) => {
        element.classList.add(`${className}`)
    }

</script>
