<section id="productsWrapper" class="my-[4.5rem] md:my-[2rem]">
  <div
    style="margin-left: 0px"
    class="container flex flex-col md:grid grid-cols-3 md:h-[268px]"
  >
    <div
      id="productsBgTwo"
      class="flex md:order-1 justify-center w-full custom-shadow-10"
    >
      <div
        id="productsBg"
        class="flex justify-around w-full max-w-[240px] md:max-w-full pl-4"
      >
        <img
          src="/images/zine-euro.svg"
          id="logo1"
          alt=""
          class="w-[50px] md:w-[8rem]"
        />
        <img
          src="/images/ahoj.svg"
          alt=""
          id="logo2"
          class="w-[80px] md:w-[10rem] lg:mr-20"
        />
      </div>
      <!-- <div class="border w-max md:order-3 md:hidden">ddd</div> -->
    </div>
    <div
      class="text-[2.5rem] leading-[44px] lg:leading-[72px] font-medium lg:text-[2rem] flex order-first mb-[1.5rem] md:mb-0 md:order-2"
    >
      <h3 class="my-auto mx-auto pb-[1rem]">Produkty</h3>
    </div>
  </div>
</section>
